.all{
	background-image: linear-gradient(to right,#D71D4A,#E1511F,#F6F621);
	position: relative;
}

.titre{
   background-color: yellow;
   width: 100%
   
}

.formulaire{
	position: absolute;
}

#usefull{
	background-color: #d9d9d9;
	width: 100%;
}

#usefull >div >table {
	background-color: white;
	border: black;
	border-width: 1px;
	border-style: solid;
	float: left;
	display: block;
	border-collapse: separate;
	border-spacing: 10px;
	text-align: center;
}

#usefull > div{
	margin-top: 5px;
}

